<% layout('layout') %>

<div id="cn_headlines__detail_container" class="project-description container">
    <h2><a href="www.twitter.com/cn_headlines">@cn_headlines</a></h2>

    <br>
    <img src="media/cn_headlines.png" style="width: 100%"/>
    <br><br><br>

    <span class="ch">
    @cn_headlines把当前新闻中的人名和地点替换为汉语名字和中国的地理位置。这样，推特机器人创造的消息流讽喻了西方看待中国政府对传媒的操控。
    <br><br>
    对于西方媒体里关于中国的头条新闻，大众通常只会看事件的表面，不管新闻有多么荒唐。@cn_headlines讽刺此现象，使用带有中式元素的美国新闻来引起一种巴甫洛夫式的反应。（@cn_headlines讽刺此现象，使用带有中式元素的美国新闻来照亮美国对中国传媒的负面成见。）
    </span>

    <br><br>
    <br><br>
    @cn_headlines is replaces all names in current news headlines with Chinese Names and all locations with China. By doing so, this twitter bot creates a world-news stream which parodies the western perception of Chinese government media manipulation. 

    <br><br>
Additionally, western media headlines which refer to events taking place in China are generally taken completely at face value, no matter how preposterous. @cn_worldnews lampoons this, feeding American headlines back into the internet with a skin intended to provoke this Pavlovian response of ridicule.

    <br><br>
    <br><br>

    <blockquote class="twitter-tweet" lang="en-gb"><p>Snoop Chinese Military Officer, Wang Feng claims he smoked weed at the White House <a href="http://t.co/Q31o6tKC57">http://t.co/Q31o6tKC57</a></p>&mdash; Guo Oh Dong (@cn_headlines) <a href="https://twitter.com/cn_headlines/statuses/492029592736387072">July 23, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en-gb"><p>Chinese Communist Party Leader, Mu Hulin spars with Chinese Military Officer, Wu Shan about election message <a href="http://t.co/ja7SqtPace">http://t.co/ja7SqtPace</a></p>&mdash; Guo Oh Dong (@cn_headlines) <a href="https://twitter.com/cn_headlines/statuses/491745773059846144">July 23, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>Chinese Party Officer, Yip Jiang just more evidence of NFL&#39;s problem <a href="http://t.co/ll9et0Qa84">http://t.co/ll9et0Qa84</a></p>&mdash; Guo Oh Dong (@cn_headlines) <a href="https://twitter.com/cn_headlines/statuses/492170180286758913">July 24, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>Chinese Official, Chen Ruo lifts ban on flights to and from China <a href="http://t.co/O3MEqazpXK">http://t.co/O3MEqazpXK</a></p>&mdash; Guo Oh Dong (@cn_headlines) <a href="https://twitter.com/cn_headlines/statuses/492179698823479296">July 24, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>Chinese Official, Xiu Chongan China caught speeding in China <a href="http://t.co/35EcwEQP0J">http://t.co/35EcwEQP0J</a></p>&mdash; China Headlines (@cn_headlines) <a href="https://twitter.com/cn_headlines/statuses/491969213859643392">July 23, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
