<% layout('layout') %>

<div id="cn_propaganda__detail_container" class="project-description container">
    <h2><a href="www.twitter.com/cn_propaganda">@cn_propaganda</a></h2>

    <br>
    <img src="media/cn_propaganda.png" style="width: 100%"/>
    <br><br><br>

    @cn_propaganda是我在2012年初创作的推特机器人。它由苹果公司的开发许可协议中抽选短陈述句，翻译成中文，并在推特上发布。。
    <br><br>
    @cn_propoganda在重新考虑苹果公司开发许可协议的语境。这个协议于创新的自由发挥而诞生，协议中的语义也反映和看守了创业的概念。苹果的公司形象被人们看成为酷和时髦，但在细读他们的服务协议条款后却发现许多短语呼应了一些压抑的社会主义观念。消费者与创新者理解同时忽视了这个事实--毕竟，他们是别无选择。
    <br><br>
    推特机器人通过脚本自动在推特上发布信息。最初它们被用于广告轰炸和营销产品，但近期某些推特机器人用于鼓励大众交谈而吸引了大量粉丝。有兴趣的读者可点击此处延伸阅读。
    <br><br>
    因为标点符号全被改为感叹号，所以微博模仿了官方公告或宣传信息的语调。每当@cn_propaganda完成发布苹果许可协议的每句话，它将删除自己之前所有的微博并停顿一个短暂的时间。
    <br><br><br>
    @cn_propaganda is a twitter bot I made in early 2012 that selects short, declarative excerpts from Apple Inc’s developer license agreement, translates them into Chinese, and tweets them. 
    <br><br>
    @cn_propaganda is recontextualizing the language of Apple’s developer license agreement. This document was born out of the freedom of innovation, and in many ways these are the words that frame and guard entrepreneurship. Apple is seen as a cool, hip, corporate identity, but on a closer reading ts terms of service agreement is made of up of many phrases that echo the tone of oppressive socialist messages. Consumers and innovators both accept and ignore this -- they have no alternative, after all.
    <br><br>
    Twitter bots are scripts that automatically produce tweets and live on Twitter; they were initially used for spam and marketing, but many now have considerable followings and engage in critical discourse.
    <br><br>
    The punctuation is changed to exclamation points so that the tweets read like official announcements or propaganda messages. Each time @cn_propaganda finishes the entirety of the Apple license agreement it deletes all previous tweets and takes a brief hiatus.

    <br><br>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>违反本协议发生了 ！</p>&mdash; Chinese Propaganda (@cn_propaganda) <a href="https://twitter.com/cn_propaganda/statuses/492410402652037120">July 24, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>苹果公司并不能保证服务将免于腐败 ！</p>&mdash; Chinese Propaganda (@cn_propaganda) <a href="https://twitter.com/cn_propaganda/statuses/492183908436688896">July 24, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>

    <blockquote class="twitter-tweet" lang="en"><p>苹果公司可能获得访问某些功能 ！</p>&mdash; Chinese Propaganda (@cn_propaganda) <a href="https://twitter.com/cn_propaganda/statuses/491912114165256192">July 23, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br><br>
</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
