<% layout('layout') %>

<div class="project-description container">

    <h2 class="ch">郭先生游览美国 | Guo In USA</h2>

    <br>
    <a href="http://www.buzzfeed.com/guoohdong/10-places-to-visit-to-get-a-taste-of-american-free-vit4"> Check it out on buzzfeed!</a>
    <br>
    <br>
    <h4 class="ch">为了感受梦寐以求的自由，我在2011年游览美国。</h4>
    <h4>In 2011, I visited the USA to see what freedom felt like. Here's my documentation.</h4>

    <br><br>
    <h3>参观好莱坞。</h3>
    <h3>Visiting Hollywood.</h3>
    <br>
    <img src="media/guo_in_usa/hollywood.png" width="680px" />

    <br><br><br>
    <h3>参观美國國家安全局，簡稱NSA。</h3>
    <h3>Visiting The NSA.</h3>
    <br>
    <img src="media/guo_in_usa/NSA.png" width="680px" />

    <br><br><br>
    <h3>参观MoMA。</h3>
    <h3>Visiting The MoMA.</h3>
    <br>
    <img src="media/guo_in_usa/MoMA.png" width="680px" />

    <br><br><br>
    <h3>去了布鲁克林亲眼目睹反潮人。</h3>
    <h3>Visiting Brooklyn to see the hipsters.</h3>
    <br>
    <img src="media/guo_in_usa/hipster.png" width="680px" />

    <br><br><br>
    <h3>参观纽约地铁。</h3>
    <h3>Visiting the nyc subway.</h3>
    <br>
    <img src="media/guo_in_usa/ad22.png" width="680px" />

    <br><br><br>
    <h3>参观星巴克。</h3>
    <h3>Visiting Starbucks.</h3>
    <br>
    <img src="media/guo_in_usa/starbucks.png" width="680px" />

    <br><br><br>
    <h3>参观一个植物学家。</h3>
    <h3>Visiting a botanist.</h3>
    <br>
    <img src="media/guo_in_usa/weed_store.png" width="680px" />

    <br><br><br>
    <h3>参观美国的劳工部。</h3>
    <h3>Visiting The Department of Labor.</h3>
    <br>
    <img src="media/guo_in_usa/dol.png" width="420px" />

    <br><br><br>
    <h3>参观麦当劳。</h3>
    <h3>Visiting The McDonald's.</h3>
    <br>
    <img src="media/guo_in_usa/McDonald's.png" width="680px" />

    <br><br><br>
    <h3>参观美国的能源部门。</h3>
    <h3>Visiting The Department of Energy.</h3>
    <br>
    <img src="media/guo_in_usa/doe.png" width="680px" />

    <br>
    <br>
</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
