<% layout('layout') %>

<div class="project-description container">

    <h2 class="ch">郭先生游览美国 | Guo In USA</h2>

    <br>
    <h3 class="ch">为了感受梦寐以求的自由，郭先生在2011年游览美国。</h3>
    <h3>In 2011, Guo visited the USA to see what freedom felt like. Here's his documentation.</h3>

</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
