<% layout('layout') %>

<div class="project-description container">

    <div class="center">
        <img class="hipster_on_a_leash_header" src="media/buzzfeed.png" width="200px" height="200px">
    </div>

    <br><br>

    <h2><a href="http://www.buzzfeed.com/guoohdong/hipster-on-a-leash-vit4">被拴住的反潮人 | Hipster On A Leash</a> </h2>

    <br>

    <h3>
    我决定以美国人的方式去游览布鲁克林。首先，我租了一部赛格威。然后我也「借」了个人主义一用。
    <br><br>

来美国之前，我曾听说过个人主义在美国的重要性，所以我决定尝试一下。我先从Craiglist入手，找到了一个愿意让我借用一整天的人。我以资本主义的精神，到了不同的American Apparels去寻找独特性。最后，我到了一家名为Urban Outfitters的旧货店，找一些时髦的太阳眼镜。我觉得一切都进行得不错
    </h3>

    <br>
    <h3>
    I decided to tour Brooklyn the American way. First I rented a segway. Then I rented individualism.
    <br><br>

    Coming to the US, I've heard a lot about the importance of individualism; so I decided to try one out. I started out on Craiglist looking for it. I found a great guy who would let me rent him for the day. In the spirit of capitalism, I then went to around to different American Apparels to find uniqueness. Finally, I visited a thrift store, by the name of Urban Outfitters, to look for some trendy sunglasses. I think it all turned out pretty well.
    </h3>


    <br><br><br><br>
    <div class="center">
        <img src="media/hipster_on_a_leash.png" width="100%"/> 
    </div>

    <br><br>

</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
