<% layout('layout') %>
<br><br><br>
<span id="artist-name"> <span class="ch"> 郭偶东 </span> | GUO O DONG  </span>

<div class="type-4__container container" style="height:640px">
    <!-- banner -->
    <br><br><br>
    <div class="type-4__left inline" style="width:49.5%">
        <h2>即将上演</h2>
        <h1>郭偶东在美国首次登场</h1>
        <h1>被拴住的反潮人</h1>
        <h2>26/２7日７月<h2>
    </div>
    <div class="type-4__right inline" style="width:49.5%">
        <h2>PERFORMANCE</h2>
        <h1>GUO USA DEBUT</h1>
        <h1>HiPSTER ON A LEASH</h1>
        <h2>JULY 26/27TH</h2>
    </div>
</div>

<div class="featured">
    <div class="featured-item not-last" id="featured-image__01">
        <div class="featured-image"></div>
        <div class="featured-desc">
            <a href="http://www.nytimes.com/2014/03/23/world/asia/nsa-breached-chinese-servers-seen-as-spy-peril.html" target="_blank">N.S.A. Breached Chinese Servers Seen as Security Threat.</a>
        </div>
    </div>
    <div class="featured-item not-last" id="featured-image__02">
        <div class="featured-image"></div>
        <div class="featured-desc">
            <a href="https://www.youtube.com/watch?v=JUgEmezpS_E" target="_blank">金正日在中国的讽刺视频金正恩轩然大波</a>
        </div>
    </div>
    <div class="featured-item not-last" id="featured-image__03">
        <div class="featured-image"></div>
        <div class="featured-desc">
            <a href="http://www.buzzfeed.com/bennyjohnson/why-you-should-not-take-photos-of-the-7-ugliest-buildings-in" target="_blank">Why You Should Not Take Photos Of The 7 Ugliest Buildings In D.C.</a>
        </div>
    </div>
    <div class="featured-item not-last" id="featured-image__04">
        <div class="featured-image"></div>
        <div class="featured-desc">
            <a href="http://content.time.com/time/world/article/0,8599,2055444,00.html" target="_blank">Want Fries with that Ring? McDonald's Offers Weddings.</a>
        </div>
    </div>
    <div class="featured-item" id="featured-image__05">
        <div class="featured-image"></div>
        <div class="featured-desc">
            <a href="http://www.nytimes.com/2014/07/22/world/asia/trending-attractive-people-sharing-upbeat-news-about-tibet-.html?smprod=nytnow&smid=nytnow-share" target="_blank">It’s Another Perfect Day in Tibet!</a>
        </div>
    </div>
</div>

<div class="cn_headlines__container container" style="height:340px">
    <!-- Chinese World News bot -->
    <div class="inline media" id="cn_headlines__content" style="width:100%">
        <div id="cn_headlines__desc"> 
            <h2><a href="https://www.twitter.com/cn_headlines" target="_blank">@cn_headlines</a></h2>
            <div>
                @cn_headlines把当前新闻中的人名和地点替换为汉语名字和中国的地理位置。这样，推特机器人创造的消息流讽喻了西方看待中国政府对传媒的操控。
                <br><br>
                @cn_headlines is replaces all names in current news headlines with Chinese Names and all locations with China. By doing so, this twitter bot creates a world-news stream which parodies the western perception of Chinese government media manipulation. 
            </div>
        </div>
    </div>
    <div class="inline" id="cn_headlines__button" style="width:10%;">
        <h1>></h1>
    </div>
</div>

<div class="type-2___container" >
    <div class="guo-in-usa__container inline container">
        <div class="guo-in-usa__left">
            <div class="guo-in-usa__desc">
                <!-- GUO in USA -->
                <h2>郭在美国 | <br>GUO in USA </h2> 
                <br>
                为了感受梦寐以求的自由，我在2011年游览美国。
                <br><br>
                In 2011, I visited the USA to see what freedom felt like. Here are my photos. 
            </div>
        </div>
        <div class="inline guo-in-usa__right" id="guo-in-usa__button" style="width: 102px;">
            <h1>></h1>
        </div>
    </div>

    <div class="type-2__right inline" id="sxlw__container">
        <!-- SXLW -->
        <iframe class="mid-container" width="600px" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129591883&amp;color=ff0000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <div class="sxlw-description mid-container">
            <div class="sxlw__left" >
                <h2 class="ch">伤心刘伟 | Sad Liuwei </h2>
                <br>
                <span class="ch">伤心刘炜特别伤心因为他无法连接到Facebook</span>
                <br> Sad Liu Wei can’t access facebook. <br>
                <br>
                <span class="ch">伤心刘炜特别伤心因为他长豆</span>
                <br>Sad Liu Wei got his first pimple.<br>
                <br>
                <span class="ch">伤心刘炜特别伤心因为学英语太难了</span>
                <br>Sad Liu Wei is having trouble learning english.<br>
                <br>
            </div>
            <div class="inline sxlw__right" id="sxlw__button" style="width:102px;">
                <h1>></h1>
            </div>
        </div>

    </div>

</div>

<div class="cn_propaganda__container container" style="height:360px">
    <!-- cn_propaganda -->
    <div class="inline description" id="cn_propaganda__content" style="width:100%;">
        <div id="cn_propaganda__desc">
            <h2 class="ch"><a href="https://www.twitter.com/cn_propaganda" target="_blank">@cn_propaganda</a></h2>
            <br>
            <span class="ch">@cn_propaganda是我在2012年初创作的推特机器人。它由苹果公司的开发许可协议中抽选短陈述句，翻译成中文，并在推特上发布。</span>
            <br><br>
            <span>@cn_propaganda is a twitter bot I made in early 2012 that selects short, declarative excerpts from Apple Inc’s developer license agreement, translates them into Chinese, and tweets them. </span>
        </div>
    </div>
    <div class="inline media" id="cn_propaganda__button" style="width:10%">
        <h1>></h1>
    </div>
</div>

<div class="type-3__container" id="about__container" style="height:360px">
    <!-- about -->
    <div class="type-3__left inline media " style="width:29%">
        <div class="mid-container" id="about__image"></div>
        <div class="mid-container" id="about__contact">
            <a href="mailto:guo.oh.dong@gmail.com">邮件 | EMAIL</a>
        </div>
    </div><!--
    --><div class="type-3__right inline description mid-container" style="width:55%; padding:30px 30px 30px 30px">
        <h2 class="ch">关于 | ABOUT </h2>
        <br>
        <span class="ch">
            郭先生于1986年出生于泉州市，福建省，中国。修炼传统美术多年的他，近期转型成为一位网络艺术家。他一直对全球网络文化，与它所反映的美国文化，感到十分好奇。他的作品在网络中奔放，也随之启发了上千位跟随者的兴趣。郭偶东即将在美国首次亮相他的新艺术项目“拴起来的反潮人”。他目前生活在网上但居留在北京的公寓。
        </span>
        <br><br>
        <span>Guo was born in 1986 in Quanzhou City, Fujian Province, China. He trained as a painter for many years but has recently transitioned to working purely online. He has long been fascinated by global internet culture, and it’s reflection of US culture. His various creations live on the internet, where they have collectively amassed thousands of followers. Guo is soon to be making his art debut in the USA with his upcoming project Hipster on a Leash. He currently lives online, out of a Beijing apartment.</span>
    </div>
</div>

<br><br><br><br><br><br><br>
