<!DOCTYPE html>
<html>
    <head>
        <meta property="og:url" content="http://www.google.com" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>G.O.D</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div id="background"></div>
        <div id="background-pattern"></div>
        <div class="content">
            <%- body %>
        </div>
        

        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
