<% layout('layout') %>

<div class="project-description container">

    <div style="width:100%; text-align: center; margin: 0 0 50px 0;">
        <iframe width="60%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129591883&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>    
    </div>

    <h2 class="ch">伤心刘伟 | Shangxin Liuwei</h2>

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为他受到网络欺凌。</span>
    <br>
    Sad Liu Wei is currently being cyberbullied.

    <br><br>
    <span class="ch"> 伤心刘炜特别伤心因为他的狗死掉了。</span>
    <br>
    Sad Liu Wei’s dog died.

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为学英语太难了。</span>
    <br>
    Sad Liu Wei is having trouble learning english.

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为他无法连接到Facebook。</span>
    <br>
    Sad Liu Wei can’t access facebook.

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为他头发剪杂了。</span>
    <br>
    Sad Liu Wei got a bad haircut.

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为他爱吃螃蟹，但是因为受不了毛茸茸的东西而不能享受大闸蟹的香味。</span>
    <br>
    Sad Liu Wei loves crab but hates hair so he can’t have hairy crab.  

    <br><br>
    <span class="ch">伤心刘炜特别伤心因为他长豆。</span>
    <br>
    Sad Liu Wei got his first pimple.

    <br><br>


</div>
<a href="/home" class="back container">上 | back</a>
<br><br><br><br><br><br><br><br><br><br><br>
<div></div>
